<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>DP generator</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">CBN DP</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">CBN DP-Generator</h1>
        <div class="row center">
            <h5 class="header col s12 light">Upload your picture and download is straight way, no delay, no ketchup</h5>
        </div>
        <div class="row center">
            <a href="" id="download-button" class="btn-large waves-effect waves-light orange">
                Customize Mine</a>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

        <div id="upload-demo"></div>
        <a>
            <span>Upload</span>
            <input type="file" id="upload" value="choose your Picture" accept="image/*">
        </a>
        <button></button>

    </div>
    <br><br>
</div>

<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
            copyright <a class="orange-text text-lighten-3" href="http://materializecss.com">ASF-OAU</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.5.1/croppie.js"></script>

<script>
    $uploadCrop = $('#upload-demo').croppie({
        enableExif: true,
        viewport: {
            width: 200,
            height: 200,
            type: 'circle'
        },
        boundary: {
            width: 300,
            height: 300
        }
    });

</script>

</body>
</html>
