<!DOCTYPE html>
<html>
  <head>
    <title>DP generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel="manifest" href="/assets/manifest.json">
  </head>
  <body>
    {{{body}}}
  </body>
</html>

<script>



</script>
